@import './variable.scss';
@import './general.scss';
@import './custom/custom.scss';
@import './custom/apexchart.scss';
@import './custom/button.scss';
@import './custom/input.scss';
@import './custom/table.scss';

option {
    background-color: var(--slate-800);
    color: white;

    &[selected], &:focus, &:visited, &:focus-visible, &:focus-within, &:hover {
        background-color: black;
        color: red;
    }
}