$primary: #E75B1F;
$success: #00E517;
$danger: #EF4136;

$background-dark: #0B0F1D;

$orange: #E75B1F;
$red: #EF4136;
$green: #00E517;

$gray-1:#F8F8F8;
$gray-2: #E1E1E1;
$gray-3: #C1C1C1;
$gray-4: #A1A1A1;

$spendable: #EA4B4B;
$delegatable-vesting: #E64BCD;
$delegate: #4BE6A5;
$unbounding: #E6C44B;
$reward: #4B88FF;
$commission: #E6954B;
$veto: #54F2DF;
$abstain: #D9D9D9;



:root, html, [data-theme], [data-theme=dark], [data-theme=light], html.dark, html[data-theme=dark], html.light, html[data-theme=light] {
    --primary: #E75B1F;
    --primary-20: rgba(231, 91, 31, 0.2);
    --primary-50: rgba(231, 91, 31, 0.5);
    --success: #00E517;
    --danger: #EF4136;
    --orange: #E75B1F;
    --green: #00E517;
    --red: #EF4136;
    --white-5: rgba(255, 255, 255, 0.05);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-30: rgba(255, 255, 255, 0.3);
    --gray-1: #F8F8F8;
    --gray-2: #E1E1E1;
    --gray-3: #C1C1C1;
    --gray-4: #A1A1A1;
    --slate-700: rgb(51 65 85);
    --slate-800: rgb(30 41 59);
    --slate-900: rgb(15 23 42);

    --spendable: #EA4B4B;
    --delegatable-vesting: #E64BCD;
    --delegate: #4BE6A5;
    --unbounding: #E6C44B;
    --reward: #4B88FF;
    --commission: #E6954B;
    --veto: #54F2DF;
    --abstain: #D9D9D9;

    --code-boolean: #D06BFF;
    --code-number: #E66565;
    --code-string: #E75B1F;

    --tooltip-text-color: white;
    --text-main: white;
    --text-secondary: #A1A1A1;
    --bg-active: rgba(255, 255, 255, 0.1);

    color: white;
}