$primary: #E75B1F;
$success: #00E517;
$danger: #EF4136;

$background-dark: #0B0F1D;

$orange: #E75B1F;
$red: #EF4136;
$green: #00E517;

$gray-1:#F8F8F8;
$gray-2: #E1E1E1;
$gray-3: #C1C1C1;
$gray-4: #A1A1A1;

$spendable: #EA4B4B;
$delegatable-vesting: #E64BCD;
$delegate: #4BE6A5;
$unbounding: #E6C44B;
$reward: #4B88FF;
$commission: #E6954B;


:root, [data-theme=dark] {
    --primary: #E75B1F;
    --success: #00E517;
    --danger: #EF4136;
    --orange: #E75B1F;
    --green: #00E517;
    --red: #EF4136;
    --white-5: rgba(255, 255, 255, 0.05);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-30: rgba(255, 255, 255, 0.3);
    --gray-1: #F8F8F8;
    --gray-2: #E1E1E1;
    --gray-3: #C1C1C1;
    --gray-4: #A1A1A1;
    --slate-800: rgb(30 41 59);
}

@function to-rgb($value) { @return rgb(red($value), green($value), blue($value)); }
