@import './variable.scss';


// button mw (gradient border)
.btn-mw {
    &-gradient-hover--outside {
        border-width: 1px;
        &:hover {
            background-image: linear-gradient(90deg, $red , $orange);
            // background-image: linear-gradient(to right, var(--tw-gradient-stops));
            // --tw-gradient-from: var(--red) var(--tw-gradient-from-position);
            // --tw-gradient-to: var(--orange) var(--tw-gradient-to-position);
            // --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);

            .btn-mw-gradient-hover--inside {
                background: #292934;
                // background: rgba($color: #fff, $alpha: 0.1);
            }
        }

      &.active, &:has(.btn-mw-gradient-hover--inside.active) {
        background: $primary;
        .btn-mw-gradient-hover--inside {
            background: $primary;
            color: white;
        }
      }
    }

    &-gradient-hover--inside {
      border: 0px;
      padding: 8px 16px;
    //   margin: 1px;
      background: transparent;
    }

    &-gradient--outside {
        border-width: 1px;
        border-color: transparent;
        background-image: linear-gradient(90deg, $red , $orange);

        .btn-mw-gradient--inside {
            border: 0px;
            color: $primary;
        }

        &:hover {
            .btn-mw-gradient--inside {
                background-color: transparent;
                color: white;
            }
        }
    }

    &-primary.btn {
        border: 1px solid $primary;
        background-color: $primary;
        background-image: linear-gradient(90deg, $red , $orange);
        color: white;
        outline-color: white;

        &:hover {
            // border-color: rgba($color: $primary, $alpha: 0.8);
            // background-color: rgba($color: $primary, $alpha: 0.8);
            border-color: transparent;
            opacity: 0.8;
        }
    }

    &-primary-outline.btn {
        border-color: $primary;
        background-color: transparent;
        color: white;
        outline-color: white;

        &:hover {
            border-color: rgba($color: $primary, $alpha: 1);
            background-color: rgba($color: $primary, $alpha: 1);
        }
    }
}
// button mw importabt
.\! {
    &btn-mw {
        &-primary.btn {
            border: 1px solid $primary !important;
            background-color: $primary !important;
            background-image: linear-gradient(90deg, $red , $orange) !important;
            color: white !important;
            outline-color: white !important;

            &:hover {
                // border-color: rgba($color: $primary, $alpha: 0.8);
                // background-color: rgba($color: $primary, $alpha: 0.8);
                border-color: transparent !important;
            }
        }
    }
}
// button - custom border, custom background
.btn {
    border-radius: 999px !important;
    &.border {
        &-white-5 {
            border-color: var(--white-5);
        }
        &-white-10 {
            border-color: var(--white-10);
        }
    }

    &.bg {
        &-white-5 {
            background-color: var(--white-5);
        }
        &-white-10 {
            background-color: var(--white-10);
        }
        &-white-30 {
            background-color: var(--white-30);
        }
    }
    // &:hover, &:active {
    //     opacity: 0.8;
    // }
    &.hover {
        &\: {
            &bg-orange:hover {
                background-color: $orange;
            }
        }
    } 
}

// background
.bg {
    &-white-5 {
        background-color: var(--white-5);
    }
    &-white-10 {
        background-color: var(--white-10);
    }
    &-white-30 {
        background-color: var(--white-30);
    }
    &-mw-base {
        background-color: $background-dark;
    }
    &-mw-box {
        background-color: #171b28;
    }
}
.hover\: {
    &bg-orange:hover {
        background-color: $orange;
    }
    &\!bg-primary {
        &:hover {
            background-color: $primary !important;
        }
        &-20:hover {
            background-color: rgba($color: $primary, $alpha: 0.2) !important;
        }
    }
}
.focus {
    &\: {
        &bg-orange:focus {
            background-color: $orange;
        }
        &\!bg-primary {
            &:focus {
                background-color: $primary !important;
            }
            &-20:focus {
                background-color: rgba($color: $primary, $alpha: 0.2) !important;
            }
        }
    }
}

.default-layout {
    background-image: url('../../assets/images/mw-background-2.svg');
    background-repeat: no-repeat;
    background-size: cover;

    &:has(.mw-dashboard) {
        background-image: url('../../assets/images/mw-background-1.svg');
    }
}


// border
.border-white-10 {
    border-color: var(--white-10);
}
.\! {
    &border {
        &-white-5 {
            border-color: var(--white-5) !important;
        }
        &-white-10 {
            border-color: var(--white-10) !important;
        }
    }
}
.border {
    &-primary {
        border-color: $primary;
    }
}

// border-radius
.rounded {
    border-radius: 20px !important;
    &-32 {
        border-radius: 32px;
    }
}


//tab
.tab {
    padding-right: 0px;
    padding-left: 0px;
    --tab-color: var(--gray-3);
    font-weight: bold;

    &-active {
        background-color: transparent;
        border-bottom: 1px solid $primary !important;
        color: $primary;
    }

    &:hover {
        color: $primary;
        border-bottom: 1px solid $primary;
        opacity: 0.8;
    }
}


// table
.table {
    tr.hover:hover {
        background-color: rgba($color: $background-dark, $alpha: 0.5);
    }
}



// gap
.gap {
    &-20 {
        gap: 20px;
    }
    &-30 {
        gap: 30px;
    }
}


// link
.link {
    &-primary {
        color: $primary;
    }
}


// text
.text {
    &-primary {
        color: $primary;
    }
    &-orange {
        color: $orange;
    }
    &-gray-3 {
        color: $gray-3;
    }
}
.\!text {
    &-primary {
        color: $primary !important;
    }
    &-gray-3 {
        color: $gray-3 !important;
    }
}
.hover\:text {
    &-primary {
        color: $primary;
    }
}



// RESPONSIVE
.lg {
    @media (min-width: 1024px) {
        &\: {
            &gap {
                &-20 {
                    gap: 20px;
                }
                &-30 {
                    gap: 30px;
                }
            }
            &bg {
                &-white-5 {
                    background-color: var(--white-5);
                }
                &-mw-base {
                    background-color: $background-dark;
                }
                &-mw-box {
                    background-color: #171b28;
                }
            }
        } 
    }
}

.md {
    @media (min-width: 768px) {
        &\: {
            &bg {
                &-white-5 {
                    background-color: var(--white-5);
                }
                &-white-10 {
                    background-color: var(--white-10);
                }
                &-white-30 {
                    background-color: var(--white-30);
                }
                &-mw-base {
                    background-color: $background-dark;
                }
                &-mw-base-50 {
                    background-color: rgba($color: $background-dark, $alpha: 0.5);
                }
                &-mw-base-80 {
                    background-color: rgba($color: $background-dark, $alpha: 0.8);
                }
                &-mw-box {
                    background-color: #171b28;
                }
            }

            &rounded {
                &-32 {
                    border-radius: 32px;
                }
            }
        }
    }
}
