$primary: #E75B1F;

$background-dark: #0B0F1D;

$orange: #E75B1F;
$red: #EF4136;

:root, [data-theme=dark] {
    --primary: #E75B1F;
    --red: #EF4136;
    --orange: #E75B1F;
    --white-5: rgba(255, 255, 255, 0.05);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-30: rgba(255, 255, 255, 0.3);
}

@function to-rgb($value) { @return rgb(red($value), green($value), blue($value)); }
