@import '../variable.scss';

.apexcharts-text {
    tspan, text {
        font-family: 'DM Sans';
        color: white;
    } 
}
.apexcharts-menu-open {
    background-color: var(--slate-900);
    border: 1px color $primary;
}